.asset-grid{
  margin-bottom: $column-gutter;

  .asset-grid-items{
    & > li{
      padding-bottom:0;
    }
  }
}

.asset-grid-item{
  h2{
    margin-top:0;
    line-height:normal;
  }

  p:last-child{
    margin:0;
  }
}

@media #{$medium-only}{
  div.asset-grid{
    padding-left:0;
    padding-right:0;
  }
  div.asset-inset{
    blockquote{
      margin:0;
    }
  }
  div.asset-grid-item:not(.asset-grid-flush){
    padding:rem-calc(30);
  }
}

@media #{$small-only}{
  div.asset-grid{
    padding-left:0;
    padding-right:0;
  }
  div.asset-inset{
    blockquote{
      margin:0;
    }
  }
  div.asset-grid-item:not(.asset-grid-flush){
    padding:rem-calc(30);
  }
}
